@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #212121;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

/* navegation */
.nav-main {
    background-color: #fff;
    text-align: center;
    width: 100%;
    padding: 0;
}

.nav-brand a img {
    width: 250px;
    margin: 20px 0;
}

.menu-btn {
    font-size: 2rem;
    padding-bottom: 20px;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
}

.menu-btn:hover {
    transition: 0.5s;
    opacity: 0.5;
}

.nav-menu {
    background-color: #fff;
    width: 100%;
    list-style: none;
    border-bottom: 2px solid #ccc;
    display: none; 
    text-align: center;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease-in-out;
}

.nav-menu.show {
    max-height: 500px; 
    display: block; 
}

.nav-menu li a {
    text-decoration: none;
    color: #212121;
    display: block;
    padding: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a:hover {
    transition: 0.5s;
    background-color: #212121;
    color: #fff;
}

/* footer */
.footer-container {
    background-color: #fff;
    border-top: 2px solid #ccc;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-text {
    font-size: 0.8rem;
}

.ft-redes ul {
    list-style: none;
    display: flex;
    font-size: 2rem;
}

.ft-redes ul li a {
    text-decoration: none;
    color: #212121;
    margin: 0 10px;
}

.ft-redes ul li a:hover {
    transition: 0.5s;
    opacity: 0.5;
}

/* header */
header {
    background: url('/assets/img/header.jpg') no-repeat center;
    background-size: cover;
    background-position: center 45%;
    width: 100%;
    height: auto;
}

.header-container {
    width: 60%;
    padding: 10vh 30vh;
}

.header-container h2 {
    background-color: #fff;
    color: #212121;
    margin-bottom: 10px;
    font-size: 2rem;
}

.header-container p {
    background-color: #212121;
    color: #fff;
    margin-bottom: 30px;
    padding: 0 2px;
    font-size: 1.2rem;
}

.header-container a {
    text-decoration: none;
    padding: 20px;
    background-color: #212121;
    color: #fff;
    border: 2px solid #fff;
}

.header-container a:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #212121;
}


/* city */
.city-container {
    text-align: center;
    padding: 25px 0;
    border-bottom: 2px solid #ccc;
}

.city-container h3 { font-weight: 500; }

/* product */
.product-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.product-img {
    width: 50%;
}

.product-img img {
    width: 100%;
}

.product-text {
    width: 50%;
    padding: 10vh 20px;
}

.product-text h4 {
    margin-bottom: 10px;
    font-size: 1rem;
}

.product-text p {
    margin-bottom: 20px;
}

.product-text a {
    text-align: center;
    text-decoration: none;
    background-color: #212121;
    color: #fff;
    padding: 10px;
    display: block;
    border: 2px solid #212121;
}

.product-text a:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #212121;
}

@media (max-width: 1024px) {
    /* header */
    .header-container {
        width: 60%;
        padding: 10vh;
    }
}

@media (max-width: 1000px) {
    /* header */
    header {
        background: url('/assets/img/header.jpg') no-repeat center;
        width: 100%;
        height: auto;
    }
    
    .header-container {
        padding: 10vh 20px;
    }
    
    .header-container h2 {
        font-size: 1rem;
    }
    
    .header-container p {
        font-size: 0.8rem;
    }
    
    .header-container a {
        padding: 10px;
        font-size: 0.8rem;
    }
    /* product */
    .product-container {
        width: 100%;
        display: block;
    }

    .product-img {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .product-img img {
        width: 100%;
    }

    .product-text {
        padding: 30px 20px;
        width: 100%;
    }

    .product-text h4 {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .product-text p {
        margin-bottom: 20px;
    }

    .product-text a {
        text-align: center;
        text-decoration: none;
        background-color: #212121;
        color: #fff;
        padding: 10px;
        display: block;
        border: 2px solid #212121;
    }

    .product-text a:hover {
        transition: 0.5s;
        background-color: #fff;
        color: #212121;
    }
}